In [1]:
import pandas as pd
from pandas_ods_reader import read_ods
from string import punctuation

In [3]:
pd.__version__

'1.4.2'

In [24]:
df = read_ods('Chamalal_examples.ods')

In [25]:
df

                                  Пример                           Перевод
0                            бечӀналӀ а̅                      колос ячменя
1                          авлӀи хара̅ла                        колоситься
2                                а̅ сина                  собирать колосья
3                            авбе йалъна      сварить говорить шепотом�ах)
4                               аб макӀа                         это место
...                                  ...                               ...
10349                          э гъайлъе              свертываемость крови
10350                            э очень                много рассказывать
10351                        э, мйкӀале?                        а, это ты?
10352  эгьай, йалӀамала бахелъ ишанлӀаᴴӀ  ай-ай-ай, опять не попал в цель!
10353                    этӀудахъида уде               она истекает кровью

[10354 rows x 2 columns]

In [27]:
examples = df["Пример"]

In [28]:
examples = examples.str.lower().str.replace(r'[' +  punctuation + '—’]+', '', regex=True)  # to lowercase & remove punctuation
examples = examples.str.replace('ᴴ', '2', regex=False)  # nasalization
examples = examples.str.replace('ӏ', '1', regex=False)  # palochka
examples = examples.str.replace(r'(.)̅', r'\1\1', regex=True)  # length

# stress
examples = examples.str.replace(r'[а́à]', 'а', regex=True)
examples = examples.str.replace('é', 'е', regex=False)
examples = examples.str.replace('и́', 'и', regex=False)
examples = examples.str.replace('ý', 'у', regex=False)

# length
examples = examples.str.replace(r'[āā́]', 'аа', regex=True)
examples = examples.str.replace(r'[ōṓ]', 'оо', regex=True)
examples = examples.str.replace('ӣ', 'ии', regex=False)
examples = examples.str.replace('ӯ', 'уу', regex=False)

examples = examples.str.replace(r'(.){2}(1){2}', r'\1\2\1\2', regex=True)  # length bug fix: ссII -> сIсI, ллъъ -> лълъ
examples = examples.str.replace(r'(.){2}(2){2}', r'\1\2\1\2', regex=True)
examples = examples.str.replace(r'(.){2}(ъ){2}', r'\1\2\1\2', regex=True)

In [29]:
examples

0                             беч1нал1 аа
1                           авл1и хараала
2                                 аа сина
3                             авбе йалъна
4                                аб мак1а
                       ...
10349                           э гъайлъе
10350                             э очень
10351                           э мйк1але
10352    эгьай йал1амала бахелъ ишанл1а21
10353                     эт1удахъида уде
Name: Пример, Length: 10354, dtype: object

In [30]:
examples = examples.dropna()

In [34]:
text = "\n".join(examples)
with open("Magomedova_examples.txt", "w", encoding="utf-8") as f:
    f.write(text)